.container3 {
    background-image: url('../public/EarthBound_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 200px;
}

.contact {
    color: rgb(54, 174, 152);
    font-size: 20px;
}

.form {
    color: blue;
    font-size: 18px;
}

.link:hover{
    color: brown;

}